body {
	background: grey;
	font-family: Slabo;
}

#content {
    text-align: center;
    padding-top: 25%;

}

.btn-outline-success {
	color: white;
	background: blue;
}

h1 {
	color: white;
	font-weight: 700;
	font-size: 5em;
	text-shadow: 0px 4px 3px black;
}

h3 {
	color: white;
	text-shadow: 0px 4px 3px black;
}

hr {
	width: 50%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0);
}
